WebRoot/wsdl/caseReceive.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://interfaces.service.sndmanager.oceansoft.com"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:ns1="http://pojo.cooperate.sndmanager.oceansoft.com"
	xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
	xmlns:tns="http://interfaces.service.sndmanager.oceansoft.com"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://pojo.cooperate.sndmanager.oceansoft.com">
			<xsd:complexType name="XtCaseInfo">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="demageLevelName"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="gz" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="note" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="dubancount" type="xsd:int" />
					<xsd:element minOccurs="0" name="extDate" type="xsd:dateTime" />
					<xsd:element minOccurs="0" name="isSupervised"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="caseStatusName"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="disposeDate" type="xsd:dateTime" />
					<xsd:element minOccurs="0" name="lampColor" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="caseId" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="community" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="questionChannelName"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="closeTime" type="xsd:dateTime" />
					<xsd:element minOccurs="0" name="reportDesc" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="satisfy" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="reporter" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="timeout" nillable="true"
						type="xsd:double" />
					<xsd:element minOccurs="0" name="caseLevelName"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="caseName" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="withdrawTrace"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="positionDesc"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="occurTime" type="xsd:dateTime" />
					<xsd:element minOccurs="0" name="caseTypeInfo"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="acceptDate" type="xsd:dateTime" />
					<xsd:element minOccurs="0" name="levelUnitName"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="currOrg" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="quesChannel" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="demageLevel" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="traceCount" type="xsd:int" />
					<xsd:element minOccurs="0" name="extNumber" nillable="true"
						type="xsd:double" />
					<xsd:element minOccurs="0" name="grid" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="isDispatch" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="caseStatus" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="isCuiban" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="applyCount" type="xsd:int" />
					<xsd:element minOccurs="0" name="questionResourceName"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="caseCode" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="caseSmallTypeName"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="workflowId" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="caseBigTypeName"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="caseTypeName"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="caseLevel" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="bgcode" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="compNo" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="regionId" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="reporterInfo"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="levelUnit" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="refuseOTime" type="xsd:dateTime" />
					<xsd:element minOccurs="0" name="orgList" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="reportTime" type="xsd:dateTime" />
					<xsd:element minOccurs="0" name="regionName" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="demageName" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="ys" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="questionDesc"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="extChar" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="cuibancount" type="xsd:int" />
					<xsd:element minOccurs="0" name="signInDate" type="xsd:dateTime" />
					<xsd:element minOccurs="0" name="registerTime" type="xsd:dateTime" />
					<xsd:element minOccurs="0" name="satisfyDegree"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="effRangeLevel"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="caseType" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="effRangeDesc"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="posY" nillable="true"
						type="xsd:double" />
					<xsd:element minOccurs="0" name="posX" nillable="true"
						type="xsd:double" />
					<xsd:element minOccurs="0" name="street" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="attachList" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="quesResource"
						nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="XtCaseDetail">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="disposalInfo"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="statusEName" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="statusName" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="acceptOrg" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="id" nillable="true"
						type="xsd:long" />
					<xsd:element minOccurs="0" name="xtCaseInfo" nillable="true"
						type="ns1:XtCaseInfo" />
					<xsd:element minOccurs="0" name="phoneNumber" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="refNo" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="expChar" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="acceptorsName"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="note" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="operatorName"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="disposalResult"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="expTime" type="xsd:dateTime" />
					<xsd:element minOccurs="0" name="createTime" type="xsd:dateTime" />
					<xsd:element minOccurs="0" name="endTime" type="xsd:dateTime" />
					<xsd:element minOccurs="0" name="acceptors" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="acceptOrgName"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="expNumber" nillable="true"
						type="xsd:double" />
					<xsd:element minOccurs="0" name="operator" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="attachList" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="caseStatus" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="isReview" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="reviewContent"
						nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://interfaces.service.sndmanager.oceansoft.com">
			<xsd:element name="setCasebyObject1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="in0"
							nillable="true" type="ns1:XtCaseInfo" />
						<xsd:element maxOccurs="1" minOccurs="1" name="in1"
							nillable="true" type="ns1:XtCaseDetail" />
						<xsd:element maxOccurs="1" minOccurs="1" name="in2"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setCasebyObject1Response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out"
							type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setCaseByATAF0107">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="in0"
							nillable="true" type="ns1:XtCaseInfo" />
						<xsd:element maxOccurs="1" minOccurs="1" name="in1"
							nillable="true" type="ns1:XtCaseDetail" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setCaseByATAF0107Response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out"
							type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setCasebyObject">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="in0"
							nillable="true" type="ns1:XtCaseInfo" />
						<xsd:element maxOccurs="1" minOccurs="1" name="in1"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setCasebyObjectResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out"
							type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="launchWorkflowByPDA">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="in0"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="launchWorkflowByPDAResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setCase">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="in0"
							nillable="true" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="in1"
							nillable="true" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="in2"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setCaseResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out"
							type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="ArrayOfString">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="string"
						nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="doProcessByPDA">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="in0"
							nillable="true" type="tns:ArrayOfString" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="doProcessByPDAResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="doProcessByPDAResponse">
		<wsdl:part name="parameters" element="tns:doProcessByPDAResponse" />
	</wsdl:message>
	<wsdl:message name="setCaseResponse">
		<wsdl:part name="parameters" element="tns:setCaseResponse" />
	</wsdl:message>
	<wsdl:message name="setCasebyObjectRequest">
		<wsdl:part name="parameters" element="tns:setCasebyObject" />
	</wsdl:message>
	<wsdl:message name="setCaseByATAF0107Request">
		<wsdl:part name="parameters" element="tns:setCaseByATAF0107" />
	</wsdl:message>
	<wsdl:message name="setCasebyObject1Request">
		<wsdl:part name="parameters" element="tns:setCasebyObject1" />
	</wsdl:message>
	<wsdl:message name="launchWorkflowByPDAResponse">
		<wsdl:part name="parameters" element="tns:launchWorkflowByPDAResponse" />
	</wsdl:message>
	<wsdl:message name="launchWorkflowByPDARequest">
		<wsdl:part name="parameters" element="tns:launchWorkflowByPDA" />
	</wsdl:message>
	<wsdl:message name="setCaseByATAF0107Response">
		<wsdl:part name="parameters" element="tns:setCaseByATAF0107Response" />
	</wsdl:message>
	<wsdl:message name="setCasebyObject1Response">
		<wsdl:part name="parameters" element="tns:setCasebyObject1Response" />
	</wsdl:message>
	<wsdl:message name="setCasebyObjectResponse">
		<wsdl:part name="parameters" element="tns:setCasebyObjectResponse" />
	</wsdl:message>
	<wsdl:message name="doProcessByPDARequest">
		<wsdl:part name="parameters" element="tns:doProcessByPDA" />
	</wsdl:message>
	<wsdl:message name="setCaseRequest">
		<wsdl:part name="parameters" element="tns:setCase" />
	</wsdl:message>
	<wsdl:portType name="ICaseReceivePortType">
		<wsdl:operation name="setCasebyObject1">
			<wsdl:input name="setCasebyObject1Request" message="tns:setCasebyObject1Request" />
			<wsdl:output name="setCasebyObject1Response" message="tns:setCasebyObject1Response" />
		</wsdl:operation>
		<wsdl:operation name="setCaseByATAF0107">
			<wsdl:input name="setCaseByATAF0107Request" message="tns:setCaseByATAF0107Request" />
			<wsdl:output name="setCaseByATAF0107Response" message="tns:setCaseByATAF0107Response" />
		</wsdl:operation>
		<wsdl:operation name="setCasebyObject">
			<wsdl:input name="setCasebyObjectRequest" message="tns:setCasebyObjectRequest" />
			<wsdl:output name="setCasebyObjectResponse" message="tns:setCasebyObjectResponse" />
		</wsdl:operation>
		<wsdl:operation name="launchWorkflowByPDA">
			<wsdl:input name="launchWorkflowByPDARequest" message="tns:launchWorkflowByPDARequest" />
			<wsdl:output name="launchWorkflowByPDAResponse" message="tns:launchWorkflowByPDAResponse" />
		</wsdl:operation>
		<wsdl:operation name="setCase">
			<wsdl:input name="setCaseRequest" message="tns:setCaseRequest" />
			<wsdl:output name="setCaseResponse" message="tns:setCaseResponse" />
		</wsdl:operation>
		<wsdl:operation name="doProcessByPDA">
			<wsdl:input name="doProcessByPDARequest" message="tns:doProcessByPDARequest" />
			<wsdl:output name="doProcessByPDAResponse" message="tns:doProcessByPDAResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ICaseReceiveHttpBinding" type="tns:ICaseReceivePortType">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="setCasebyObject1">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="setCasebyObject1Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="setCasebyObject1Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setCaseByATAF0107">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="setCaseByATAF0107Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="setCaseByATAF0107Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setCasebyObject">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="setCasebyObjectRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="setCasebyObjectResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="launchWorkflowByPDA">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="launchWorkflowByPDARequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="launchWorkflowByPDAResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setCase">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="setCaseRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="setCaseResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="doProcessByPDA">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="doProcessByPDARequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="doProcessByPDAResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ICaseReceive">
		<wsdl:port name="ICaseReceiveHttpPort" binding="tns:ICaseReceiveHttpBinding">
			<wsdlsoap:address location="http://12345.snd.gov/snd/caseReceive.ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
